<!--<h3>This should be static file mostly, and list all eligibility for both worker and helper.</h3>
-->
<!--<h3>This should be static file mostly, and list all eligibility for both worker and helper.</h3>
-->
{% extends 'aww/base.html' %}

{% block content %}
    <div class="container">
      <div class="well">
       <table border="0"  class="table table-striped table-hover">
          <tr class="danger">
            <th><h3><b>ELIGIBILITY CRITERIA FOR ANGANWADI WORKER</b></h3></th>
          </tr>
          <tr class="success">
            <th>
            <ul>
            <li><i>Anganwadi worker should be daughter-in-law of that village/ward and acceptable in the local community.</i></li>
            <li><i>Female candidate of age 18 to 45 years.</i></li>
            <li><i>Candidates who have completed 10th or its equivalent qualification from a recognized Board/University are eligible to apply for ICDS Anganwadi Worker.</i></li>
            </ul>
            </th>
          </tr>


        <tr class="danger">
          <th><h3><b>ELIGIBILITY CRITERIA FOR ANGANWADI HELPER</b></h3>
          </th>
        </tr>
        <tr class="sucess">
        <th>
        <ul>
          <li><i>Anganwadi helper should be daughter-in-law of that village/ward and acceptable in the local community.</i></li>
          <li ><i>Female candidate of age 18 to 45 years.</i></li>
          <li ><i>Candidates who have completed 7th or its equivalent qualification from a recognized Board/University are eligible to apply for ICDS Anganwadi.</i></li>
        </ul>
        </th>
        </tr>
      </table>
    </div>
  </div>

{% endblock %}
