<!--<h3>This should be static file mostly, and list all eligibility for both worker and helper.</h3>
-->
<!--<h3>This should be static file mostly, and list all eligibility for both worker and helper.</h3>
-->
{% extends 'aww/base.html' %}

{% block content %}
  <i>
  <h3><b>ELIGIBILITY CRITERIA FOR ANGANWADI WORKER</b></h3>
  <table>
    <tr>
      <th>1.</th>
      <th align="left">Anganwadi worker should be daughter-in-law of that village/ward and acceptable in the local community.</th>
    </tr>
    <tr>
      <th>2.</th>
      <th align="left">Female candidate of age 18 to 45 years</th>
    <tr>
      <th>3.</th>
      <th align="left">Candidates who have completed 10th or its equivalent qualification from a recognized Board/University are eligible to apply for ICDS Anganwadi Worker.</th>
    </tr>
  </table>
  <h3><b><br>ELIGIBILITY CRITERIA FOR ANGANWADI HELPER</b></h3>
  <table>
    <tr>
      <th>1.</th>
      <th align="left">Anganwadi helper should be daughter-in-law of that village/ward and acceptable in the local community.</th>
    </tr>
    <tr>
      <th>2.</th>
      <th align="left">Female candidate of age 18 to 45 years</th>
    <tr>
      <th>3.</th>
      <th align="left">Candidates who have completed 7th or its equivalent qualification from a recognized Board/University are eligible to apply for ICDS Anganwadi.</th>
    </tr>
  </table>
  </i>
{% endblock %}
