<!--<h3>This should be static file mostly, and list all eligibility for both worker and helper.</h3>
-->
<!--<h3>This should be static file mostly, and list all eligibility for both worker and helper.</h3>
-->
{% extends 'aww/base.html' %}

{% block content %}

    <h3><b>ELIGIBILITY CRITERIA FOR ANGANWADI WORKER</b></h3>

  <ul>

    <li>Anganwadi worker should be daughter-in-law of that village/ward and acceptable in the local community.</li>
    <li>Female candidate of age 18 to 45 years.</li>
    <li>Candidates who have completed 10th or its equivalent qualification from a recognized Board/University are eligible to apply for ICDS Anganwadi Worker.</li>

  </ul>

  <h3><b>ELIGIBILITY CRITERIA FOR ANGANWADI WORKER</b></h3>

  <ul>

    <li>Anganwadi helper should be daughter-in-law of that village/ward and acceptable in the local community.</li>
    <li>Female candidate of age 18 to 45 years.</li>
    <li>Candidates who have completed 7th or its equivalent qualification from a recognized Board/University are eligible to apply for ICDS Anganwadi.</li>

  </ul>


{% endblock %}
