{% extends 'aww/base.html' %}
{% load i18n %}
{% block content %}

<table align="center">
    <tr border="1">
      <td>
    <!-- <h1>{% blocktrans %}What's new?{% endblocktrans %}</h1> -->
      </td>
      <br>
      <br>
      <div style="padding-left:400px;padding-right:400px;">
          <div class="text-white bg-info" ><u><i><b><h1 style="padding-left:100px" >What's new?</h1></b></i></u></div>
      </div>   
    </td>
  </tr>
  <tr>
  <td rowspan="3">
  <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrolldelay="150">
    <a href="http://www.wcd.nic.in/notification/recruitment-vacancies">{% trans "New Vacancies out" %}</a>
    <br>
    <a href="http://www.thehindu.com/news/cities/Delhi/govt-doubles-salary-of-anganwadi-workers/article19333885.ece">{% trans "Govt.doubles the salary-of-anganwadi-workers" %}</a>
    <br>
    <a href="http://indianexpress.com/article/cities/ahmedabad/gujarat-anganwadi-workers-seek-pay-hike-to-go-on-3-day-strike-4525288/">{% trans "Gujarat: Anganwadi workers seek pay hike, to go on 3-day strike" %}</a>
    <br>
  </marquee></td>
</tr>
</table>
<br>
<br>
<marquee>
  <img src="static/images/download (2).jfif"  style="height:150px; width:150px">
  <img src="static/images/download (3).jfif" style="height:150px; width:150px">
  <img src="static/images/images (1).jfif" style="height:150px; width:150px">
  <img src="static/images/images (2).jfif" style="height:150px; width:150px">
  <img src="static/images/images.jfif" style="height:150px; width:150px">
</marquee>
</center>
{% endblock %}
  