{% extends 'aww/base.html' %}

	{% block content%}

		<h1 align = 'center'>LEARNING MATERIALS</h1>

		<ul>

		<li><h3>Handbook for Anganwadi Workers</h3>&nbsp-&nbsp<a href="http://nipccd.nic.in/syllabi/eaw.pdf">Click here to download</a>

		<br>Handbook for Anganwadi Workers is an illustrative pictorial guide written in simple language.
		In order to improve her performance, there is a need fro providing her with comprehensive and
		handy document which she can refer to in conducting her day-to-day activities.<br>

		</li>

		<li><h3>Guidelines for Anganwadi Helpers</h3>&nbsp-&nbsp<a href="http://www.chinh.in/2013%20CIKFF/WCD%20Research%20for%20WEB%20UPLOAD%202013/Anganwadis%20Report%20Part%202.pdf">Click here to download</a>

		<br>This study aims to understand, explore and evaluate the preschool education program with respect to
		the tools used by Anganwadi helpers to impart the same under Standards and the guidelines for Preschool
		Learning Experiences reflected under ICDS’s commitment to quality, in order to ensure a solid foundation for
		learning and school success. <br>

		</li>

		<li><h3>Guidelines for Anganwadi Workers</h3>&nbsp-&nbsp<a href="http://www.chinh.in/2013%20CIKFF/WCD%20Research%20for%20WEB%20UPLOAD%202013/Anganwadis%20Report%20Part%201.pdf">Click here to download</a>

		<br>This study aims to understand, explore and evaluate the preschool education program with respect to
		the tools used by Anganwadi workers to impart the same under Standards and the guidelines for Preschool
		Learning Experiences reflected under ICDS’s commitment to quality, in order to ensure a solid foundation for
		learning and school success. <br>

		</li>

		<li><h3>Training Module for Anganwadi Workers</h3>&nbsp-&nbsp<a href="http://wcd.nic.in/sites/default/files/EEC%20Training%20Module%20for%20Anganwadi%20Workers.pdf">Click here to download</a>

			<br>This training module is part of the job training module for Anganwadi Workers and focuses
			only on the early childhood care and education (ECCE) part of the training. It  is  designed  to
			provide  the  Anganwadi  Worker  a  basic  understanding  of  the  ECCE curriculum  and
			pedagogical  approaches  to  ensure  optimal  and  holistic  development  of young children.<br>
			
		</li>



	{% endblock %}
