{% extends 'aww/base.html' %}
{% block content %}
<h1>Anganwadi Services Schemes:</h1>
<hr>
<br>
<h3>Benefits for AWWs/AWHs:</h3>
<ul>
  <li>Paid absence on maternity & abortion/miscarriage to Anganwadi Workers and Helpers - <a href="http://wcd.nic.in/sites/default/files/Paid.pdf" target="_new">Click here to download.</a></li>
  <li>Provision of Uniform & name Badge to the Anganwadi Workers and Anganwadi Helpers  - <a href="http://wcd.nic.in/sites/default/files/Provision.pdf" target="_new">Click here to download.</a></li>
  <li>Reservation of 25% posts of AWWs for AWHs - <a href="http://wcd.nic.in/sites/default/files/Reservation%20of%2025%25%20posts%20of%20AWWs%20for%20AWHs.pdf" target="_new">Click here to download.</a></li>
  <li>Reservation of 50% posts of Supervisors for AWWs- <a href="http://wcd.nic.in/sites/default/files/Reservation%20of%2050%25%20of%20vacancies%20from%20amongst%20AWWs.pdf" target="_new">Click here to download.</a></li>
</ul>
  {% endblock %}
