<!--<h3>Subscribe user to our website, so that they can get the notification when new vacancy or result
announced...</h3>
<h3>It should include one input field which take phone no or email to which we can push them notifications and submit button</h3>
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Contact Number :
    <input type="number" name="Contact Number"><br><br>
    <input type="submit" name="Subscribe" value="Subscribe">
  </body>
</html>
