<table border="1" width="50%">
	<tr>
		<td>Applicant's Name</td>
		<td>Applicant's Center</td>
		<td>Applicant's Marks</td>
	</tr>

<button>Submitted</button>
<button>Selected for interview</button>
<button>Selected finally</button>
<button>Call all selected candidates for interview</button>
<button>Call all finally selected candidates</button>
<br />
{% for app in applications %}
<tr>
	<td><a href='{{app.id}}/'>{{ app.applicant_name }}</a></td>
	<td>{{ app.center }}</td>
	<td>{{ app.digital_mark }}</td>
	<button>Select for interview</button>
	<button>Select finally</button>
</tr>
{% endfor %}
<button>Archive</button>
<button>Print</button>
