<!--<h3>Show all details of specific center.</h3>-->
{% extends 'admin/base.html' %}

{% block content %}

  <table border = '5'>
  <br>
    <tr>
      <td><h5>Center Number : </h5></td>
      <td><h5>{{ center.center_no }}</h5></td>
    </tr>

    <tr>
      <td><h5>Centre Name : </h5></td>
      <td><h5>{{ center.name }}</h5></td>
    </tr>

    <tr>
      <td><h5>Center Address : </h5></td>
      <td><h5>{{ center.address }}</h5></td>
    </tr>

    <tr>
      <td><h5>State : </h5></td>
      <td><h5>{{ center.state }}</h5></td>
    </tr>

    <tr>
      <td><h5>District : </h5></td>
      <td><h5>{{ center.district }}</h5></td>
    </tr>

    <tr>
      <td><h5>Project : </h5></td>
      <td><h5>{{ center.project }}</h5></td>
    </tr>

    <tr>
      <td><h5>Sector : </h5></td>
      <td><h5>{{ center.sector }}</h5></td>
    </tr>

    <tr>
      <td><h5>Pincode : </h5></td>
      <td><h5>{{ center.pincode }}</h5></td>
    </tr>

    <tr>
      <td><h5>Worker vacancies</h5></td>
      <td><h5>{{ center.W_vacancies }}</h5></td>
    </tr>

    <tr>
      <td><h5>Helper vacancies</h5></td>
      <td><h5>{{ center.H_vacancies }}</h5></td>
    </tr>

    <tr>
      <td><h5>Center Longitude</h5></td>
      <td><h5>{{ center.longitude }}</h5></td>
    </tr>

    <tr>
      <td><h5>Center Latitude</h5></td>
      <td><h5>{{ center.latitude }}</h5></td>
    </tr>


  </table>

  <br><a href="/accounts/centers/{{ center.id }}/applications">See all applications</a>

{% endblock%}
