<html>
<h3>Homoe page...</h3>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<head>
<title></title>
</head>
<body>
<header>
<div class="navbar navbar-default">
<div class="container">
<div class="navbar-header">
<button style="margin-right:32px"><a href="" class="navbar-brand">Home</a>&nbsp&nbsp&nbsp&nbsp</button>
<button style="margin-right:32px"><a href="" class="navbar-brand">About</a>&nbsp&nbsp&nbsp&nbsp</button>
<button style="margin-right:32px"><a href="" class="navbar-brand">Downloads</a>&nbsp&nbsp&nbsp&nbsp</button>
<button style="margin-right:32px"><a href="" class="navbar-brand">Circulars</a>&nbsp&nbsp&nbsp&nbsp</button>
</div>
</div>
</div>
</header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
